{% extends 'layout.html.twig' %}

{% block content %}

<div class="ajoutFilm">
    <div class="ajout">
        <h2>Ajouter votre film</h2><br/>
        <form method="post" />
            Nom: <input type="text" name="nom"/><br><br>
            Description: <br><textarea rows="5" name="description"></textarea><br><br>
            Année: <input type="text" name="annee"  style="width:50px;"/><br><br>
            Genre: <select  type="text" name="genre">
            {% for genre in genres %}
               <option value="{{genre.id}}">{{genre.nom}}</option>
            {% endfor %}
                            
            </select><br><br>
            <input type="submit" value="Envoyer" />
        </form>
    </div>
</div>

{% endblock %}