{% extends 'layout.html.twig' %}

{% block content %}

{% if film %}
<div class="fiche">
    <img src="{{ film.image }}" />
    <h2>{{ film.nom }} - Fiche film</h2>
    <b>Genre: {{ film.genre_nom }}</b>
    <p class="description">
        {{ film.description }}
    </p>
</div>
{% else %}
<h2>Fiche film</h2>

Film non trouvé!
{% endif %}

<div class="casting">
    <h2>Casting</h2>
    {% for acteur in casting %}
        <div class="acteur">
            <img src="{{ acteur.image }}" width="64" />
            <h3>{{ acteur.prenom }} {{ acteur.nom }}</h3>
            <em>dans le role de</em>
            <h3>{{ acteur.role }}</h3>
        </div>
    {% endfor %}
</div>

{% if critiques %} 
  <div class="commentaires">
        <h2>Critiques</h2>

        {% for critique in critiques %}
            <div class="critique">          
              <p><b>{{ critique.nom }} : </b>"{{ critique.commentaire }}" <em>({{ critique.note }} / 5)</em></p>
            </div>
        {% endfor %}
    </div>
{% else %}
<h2>Critiques</h2>

Critiques non trouvés
{% endif %} 

<div class="commentaires">

    <div class="ajout">
        <h2>Ajouter votre critique</h2>
        <form method="post" />
            Nom: <br/><input type="text" name="nom" /><br />
            Note: <br/><input size="3" type="number" name="note" />/5<Br/>    
            Critique: <br/>
            <textarea rows="5" name="critique"></textarea>
            <hr/>
            <input type="submit" value="Envoyer" />
        </form>
    </div>


{% endblock %}
