{% extends 'layout.html.twig' %}

{% block content %}
<h2>Genres</h2>

<ul>
{% for genre in genres %}
   <a href="{{ path('filmParGenre', {id: genre.id}) }}"> <li>{{ genre.nom }} ({{ genre.nb_films}})</li> </a>
{% endfor %}
</ul>
{% endblock %}
