{% extends 'layout.html.twig' %}

{% block content %}
<h2>Meilleurs films</h2>
<br/>
{% if meilleursFilms %}
    {% for film in meilleursFilms %}
    <div class="film">
            <img width="64" src="{{ film.image }}" />
            <b>Moyenne des notes : {{film.moyenne}}/5</b>
            <h3>{{ film.nom }}</h3>
            <em>Genre: {{ film.genres_nom }}</em><br />
            <a href="{{ path('film', {id: film.id}) }}">Fiche film &raquo;</a>
    </div>  
    {% endfor %}
{% else %}
    Il n'y a aucun film!
{% endif %}

{% endblock %}